.brand {
  color: gray;
  font-size: 1rem;
  display: inline;
  position: relative;
  padding-top: 2px;
  padding-bottom: 2px;
}

.brand:hover {
  ins {
    color: black;
    cursor: pointer;
  }
}

.productCard {
  justify-content: space-between;
  margin: 10px auto 10px;
  padding: 0 300px;
  .same-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    s {
      position: absolute;
    }
  }

  .description {
    th {
      text-align: left;
    }
    td {
      text-align: center;
    }
  }

  .hero {
    margin-top: 1vh;
    margin-bottom: 2vh;

    img {
      width: 100%;
      height: 300px;
      object-fit: contain;
      display: block;
      justify-content: center;
      margin: 0;
    }
  }

  .productDetails {
    .mainDetails {
      padding-bottom: 20px;

      ul,
      li {
        list-style-type: none;
        padding: 1px;
        margin: 0;
        text-align: left;
      }

      .productColours {
        display: flex;
        flex-direction: row;
        justify-content: left;

        .colourChild {
          border: 0.5px solid gray;
          border-radius: 5px;
          width: 4vh;
          height: 4vh;
          margin: 0.5vh;
        }

        .colourChildActive {
          border: 0.5px solid gray;
          padding: 10px;
          border-radius: 5px;
          width: 4.5vh;
          height: 4.5vh;
          margin: 0.5vh;
        }
      }
    }

    .addToCart {
      display: flex;
      max-width: 20rem;
      min-width: 13rem;
      position: absolute;
      right: 0;
      bottom: 0;
      animation: all ease-in-out 0.5s;

      Button {
        background: none;
        color: black;
      }
    }

    .addToCartActive {
      display: flex;
      max-width: 20rem;
      min-width: 13rem;
      position: absolute;
      right: 0;
      bottom: 0;

      Button {
        background: black;
        color: lightgray;
      }

      Button:hover {
        color: white;
      }
    }

    .sizeSelect {
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(-20%, 70%);
    }

    ul,
    li {
      list-style-type: none;
      padding: 1px;
      margin: 0;
      text-align: left;
    }

    .brand {
      color: gray;
      font-size: 1.5rem;
      padding: 5px;
    }

    .price {
      font-size: 2.5rem;
      line-height: 1;
      font-weight: 400;

      s {
        font-size: 15px;
        color: gray;
      }
    }

    ul li {
      list-style-type: none;
      margin: 0 auto 1rem;

      h1 {
        margin: 0;
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  .productCard {
    margin: 10px auto;
    padding: 0;

    .hero {
      display: block;
      width: 100%;
      margin: 0;
      padding: 0;

      img {
        object-fit: contain;
        width: 100%;
        height: 200px;
      }
    }

    .addToCart {
      position: relative;
      max-width: 20rem;
    }
  }
}
