.c {
    margin-left: 3vw;
    margin-right: 3vw;
    padding: 6vw;
    margin-bottom: 6vw;
    ul{
        text-align: left;
    }
    li{
        text-align: left;
        list-style-type: circle;
        line-height: 1;
    }
}